body {
  background-color: var(--background-color);
  font-family: DM Sans;
  font-style: normal;
  font-size: 14px;
  color: var(--text-color);
}

:root {
  --brand-color: #4f2ee8;
  --text-color: #111111;
  --subtitle-color: #b4afaf;
  --categories-rgba-color: rgba(17, 17, 17, 0.6);
  --gray-button-color: #f3f3f3;
  --gray-rgba-color: rgba(246, 246, 246, 0.5);
  --background-color: #f6f6f6;
  --white-color: #ffffff;
  --yelow-color: #eac645;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 24px;
  }
}

/* --- */
.main-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: -1.92px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.12;
  letter-spacing: -0.64px;
  color: var(--subtitle-color);
}

.subtitle {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.48px;
  color: var(--subtitle-color);
}

.shopping-list__subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.36px;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
}

.categories__title {
  color: var(--categories-rgba-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.36px;
  transition: color 250ms linear;
}

.categories__title:hover,
.categories__title:focus {
  color: var(--brand-color);
  font-weight: 700;
  text-transform: uppercase;
}

/* ---button--- */

.button {
  color: var(--text-color);
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid var(--brand-color);
  transition: background-color 250ms linear, color 250ms linear;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
}
