body {
    background-color: var(--background-color);
    font-family: DM Sans;
    font-style: normal;
    font-size: 14px;
    color: var(--text-color);
}

:root {
    --brand-color: #4F2EE8;
    --text-color: #111111;
    --subtitle-color: #B4AFAF;
    --categories-rgba-color: rgba(17, 17, 17, 0.60);
    --gray-button-color: #F3F3F3;
    --gray-rgba-color: rgba(246, 246, 246, 0.50);
    --background-color: #F6F6F6;
    --white-color: #FFFFFF;
    --yelow-color: #EAC645;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (min-width:375px) {
    .container {
        max-width: 375px;
    }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width:1440px) {
    .container {
        max-width: 1440px;
        padding: 0 24px;
    }
}
/* ---header nav---- */
.nav-title{
    color: var(--text-color);
    font-family: DMSant-Medium;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
    text-transform: uppercase;
}
.sing-log{
    font-family: DMSant-Medium;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
}

/* ----для рендеру в main---- */
.main-title {
    font-family: DMSant-Bold;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
}
.brendcolor{
    font-family: DMSant-Bold;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;

    color: var(--brand-color);
}
.title-for-categories{
    color: var(--subtitle-color);
    font-family: DMSant-Regular;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.title-book {
    font-family: DMSant-Bold;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.12;
    letter-spacing: -0.64px;
    color: var(--text-color);
}
.autor{
    color: var(--subtitle-color);
    font-family: DM Sans;
    font-size: 12px;
    font-family: DMSant-RegularItalic;
    line-height: 1.16;
    letter-spacing: -0.48px;
}

.shopping-list__subtitle {
    font-family: DMSant-Regular;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.36px;
}
/* ----опис книг---- */
.description {
    color: var(--text-color);
    font-family: DMSant-Regular;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
}
/* ----для категорій в aside---- */
.categories__title {
    font-family: DMSant-Regular;
    color: var(--categories-rgba-color);
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    transition: color 250ms linear;
}

.categories__title:hover,
.categories__title:focus {
    font-family: DMSant-Bold;
    color: var(--brand-color);
    font-weight: 700;
    text-transform: uppercase;
}
.categories__title-active{
    color: var(--brand-color);
    font-family: DMSant-Bold;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}
/* ---модальне вікно з книгою--- */
.book-title-in-modal{
    color: var(--text-color);
    font-family: DMSant-Bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.96px;
}
.button-modal{
    color: var(--text-color);
    font-family:DMSant-Bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.18px;
    text-transform: uppercase;
}
/* ---button--- */

.button {
    color: var(--text-color);
    background-color: transparent;
    border-radius: 40px;
    border: 2px solid var(--brand-color);
    transition: background-color 250ms linear, color 250ms linear;
}

.button:hover,
.button:focus {
    color: var(--white-color);
    background-color: var(--brand-color);
}