.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 72px 1fr;
    grid-template-areas: "header"
        "main";
    row-gap: 40px;
}

.wrapper__header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.wrapper__sidebar {
    grid-area: sidebar;
    justify-items: center;
}

.wrapper__content {
    grid-area: content;
}

@media (min-width:768px) {
    .wrapper {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 72px 1fr;
        grid-template-areas: "header"
            "main";
    }

    .main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 472px 1fr;
        grid-template-areas: "sidebar"
            "content";
        row-gap: 100px;
    }

    .wrapper__sidebar {
        display: grid;
        grid-template-columns: 337px 335px;
        grid-template-rows: 472px;
        column-gap: 32px;
    }
}

@media (min-width:1440px) {
    .wrapper {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 72px 1fr;
        grid-template-areas: "header"
            "main";
    }

    .main {
        display: grid;
        grid-template-columns: 356px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "sidebar content";
        column-gap: 40px;
    }

    .wrapper__sidebar {
        grid-template-columns: 1fr;
        grid-template-rows: 472px 490px;
        row-gap: 86px;
    }
}
@media (min-width:1440px) {
    .main.shopping-list__wrapper {
        align-items: start;
        column-gap: 40px;
    }
}

@media (max-width:1439px) {
    .main.shopping-list__wrapper {
    display: block;
    }
    .wrapper__sidebar.shopping-list__wrapper{
    display: none;
}
}
