
.header__cart {
    position: relative;
    margin-left: 10px;

    width: 70px;
    height: 66px;

    display: flex;
    align-items: center;
}

.header__cart-icon {
    position: absolute;
    top: 4px;
    left: 6px;
    fill: var(--brand-color);

    animation-name: color;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    animation-direction: alternate;

}
@keyframes color {
    from {
        fill: var(--brand-color);
    }

    to {
        fill: var(--yelow-color);
    }
}

.cart-text {
    margin-left: 74px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    color: var(--blue-color);
}

.cart-counter{
    position: absolute;
    top: 50%;
    right: -30%;

    display: inline-flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;

    background: rgb(79, 46, 232);
    background: linear-gradient(351deg, rgba(79, 46, 232, 1) 0%, rgba(234, 198, 69, 1) 100%);
    color: #FFFFFF;
    border-radius: 50%;  
}

