header {
  border: 2px solid #111111;
  border-radius: 0 0 8px 8px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

/* nav */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .main-nav {
    justify-content: start;
    gap: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .main-nav {
    gap: 76px;
  }
}

.logo {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 8px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
}

.logo-icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13.27px;
  width: 77px;
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .home {
    font-weight: 700;
    background-color: var(--yelow-color);

    padding: 8px 16px;
    border-radius: 36px;
  }

  .shopping-list {
    font-weight: 500;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .site-nav {
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .shopping-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: 4px;
  }
}

/* thomb */

.thomb {
  display: flex;
  gap: 14px;
}

@media screen and (min-width: 1440px) {
  .thomb {
    gap: 24px;
  }
}

/* theme */

.dark-theme {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #4f2ee8, #dcdcdc);
  transition: 0.4s;
  border-radius: 9px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: #ffffff;
  transition: 0.4s;
  border-radius: 10px;
}

input:checked + .slider {
  background-image: linear-gradient(to bottom, #4f2ee8, #686868);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* hamburger */

.hamburger-menu {
  background-color: transparent;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 0;
  padding-right: 0;
  border: 0;
}

@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

.hamburger-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  stroke: var(--text-color);
}

/* sing-up */

.sing-up {
  display: flex;
  align-items: center;
}

.sing-up-btn {
  background-color: var(--brand-color);
  border: 2px solid var(--text-color);
  color: var(--white-color);
  height: 48px;
  width: 184px;
  padding: 14px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
}

.sing-up-icon {
  width: 20px;
  height: 20px;
}

.mobile-menu {
  display: none;
}
