header {
  border: 1.5px solid var(--text-color);
  background-color: var(--bg-color-header-card);
  border-radius: 0 0 8px 8px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header-container {
    z-index: 2;
  }
}

/* nav */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .main-nav {
    justify-content: start;
    gap: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .main-nav {
    gap: 76px;
  }
}

.logo {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
}

.logo-icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13.27px;
  width: 77px;
  fill: var(--text-color);
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .site-nav {
    gap: 24px;
  }
}

.home {
  color: var(--button-yelow-font-color);
  background-color: var(--yelow-color);
  font-family: DMSans-Bold;

  padding: 8px 16px;
  border-radius: 36px;

  display: inline-block;
}

.shopping-list {
  display: flex;
  align-items: center;
}

.shopping-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 4px;

  fill: var(--button-yelow-font-color);
}

@media screen and (min-width: 768px) {
  .shopping-list {
    color: var(--text-color);
  }

  .shopping-list-icon {
    fill: var(--text-color);
  }
}

/* thomb */

.thomb {
  display: flex;
  gap: 14px;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .thomb {
    gap: 24px;
  }
}

/* theme */

.dark-theme {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #4f2ee8, #dcdcdc);
  transition: 0.4s;
  border-radius: 9px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: #ffffff;
  transition: 0.4s;
  border-radius: 10px;
}

input:checked + .slider {
  background-image: linear-gradient(to bottom, #4f2ee8, #686868);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* hamburger */

.hamburger-menu {
  background-color: transparent;

  padding-left: 0;
  padding-right: 0;
  border: 0;
}

.hamburger-menu:focus,
.hamburger-menu:hover > .hamburger-menu-icon {
  stroke: var(--brand-color);
  transition: linear 0.4s;
}

@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

.hamburger-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  stroke: var(--text-color);
}

/* sing-up */

.sing-up {
  display: none;
}

@media screen and (min-width: 768px) {
  .sing-up {
    display: flex;
    align-items: center;
    position: relative;
  }

  .sing-up-btn {
    background-color: var(--brand-color);
    border: 1.5px solid var(--button-yelow-font-color);
    color: var(--white-color);
    height: 48px;
    width: 184px;
    padding: 14px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
  }

  .sing-up-icon {
    width: 20px;
    height: 20px;
    stroke: var(--yelow-color);
  }
}

@media screen and (max-width: 767px) {
  .user {
    display: none;
  }
}

.user {
  position: relative;
}

.user-img {
  border-radius: 50%;
  width: 37px;
  height: 37px;
}

.user-btn {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 36px;
  padding: 4px 12px;
  width: 184px;
  justify-content: space-between;
  height: 45px;
  font-family: DMSans-Bold;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.44px;
  color: var(--white-color);
  background-color: var(--brand-color);
}

.arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 26px;
  margin-left: 4px;
  margin-right: 0;
}

.user-thomb {
  display: flex;
  align-items: center;
}

/* logout-desc */
.log-out-btn-desc {
  background-color: var(--white-color);
  border: 1.5px solid var(--button-yelow-font-color);
  color: var(--button-yelow-font-color);
  height: 48px;
  gap: 4px;
  padding: 14px 24px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
  stroke: var(--yelow-color);
  width: 100%;
  position: absolute;
  top: 45px;
  left: 0;
}

.log-out-icon-desc {
  width: 20px;
  height: 20px;
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );

  transition: left 250ms linear;
}

.mobile-close {
  z-index: 21;
  background-color: transparent;
  stroke: var(--text-color);
  border: none;
  padding: 0;
}

.mobile-close:focus,
.mobile-close:hover > .mobile-close-icon {
  stroke: var(--brand-color);
  transition: ease 0.5s;
}
.mobile-close-icon {
  height: 28px;
  width: 28px;
}

/* .mobile-close:hover,
.mobile-close:focus {
  color: var(--brand-color);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
} */
@media screen and (min-width: 768px) {
  .mobile-close {
    display: none;
  }
}

.mobile-nav {
  position: absolute;
  left: 129px;
  top: 273px;

  z-index: 1;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../images/mobile-menu-books.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: contain;

  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.user-mob {
  position: absolute;
  z-index: 1;
  top: 84px;
  left: 20px;
}

.user-btn-mob {
  display: flex;
  align-items: center;
  border: none;
  padding: 4px 12px;
  gap: 9px;
  justify-content: space-between;
  cursor: auto;

  font-family: DMSans-bold;
  font-size: 22px;
  line-height: 28.64px;
  letter-spacing: -0.04;
  color: var(--white-color);
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .user-mob {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .sing-up-mob {
    position: absolute;
    z-index: 1;
    top: 104px;
    left: 20px;
    display: flex;
    align-items: center;
  }

  .sing-up-btn-mob {
    background-color: var(--brand-color);
    border: 2px solid var(--button-yelow-font-color);
    color: var(--white-color);
    height: 48px;
    width: 184px;
    padding: 14px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    stroke: var(--yelow-color);
  }

  .sing-up-icon-mob {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .log-out-mob {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
  }

  .log-out-btn-mob {
    background-color: var(--white-color);
    border: 1.5px solid var(--button-yelow-font-color);
    color: var(--button-yelow-font-color);
    height: 48px;
    gap: 4px;
    padding: 14px 24px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    stroke: var(--yelow-color);
  }

  .log-out-icon-mob {
    width: 20px;
    height: 20px;
  }
}
