.book-card {
  width: 335px;
  cursor: pointer;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  row-gap: 40px;
  margin-top: 18px;
}
.book-img {
  border-radius: 8px;
  width: 335px;
  height: 485px;
}

@media screen and (min-width: 375px) {
  .container-books {
    max-width: 375px;
    /* padding: 40px 20px 80px; */
  }
  .bs-list-item:nth-child(1) {
    display: contents;
  }
}

@media screen and (min-width: 768px) {
  .container-books {
    max-width: 768px;
    /* padding: 100px 20px; */
  }
  .bs-list-item:nth-child(-n + 3) {
    display: contents;
  }
  .book-card {
    width: 218px;
  }
  .book-list {
    grid-template-columns: repeat(auto-fill, minmax(218px, 1fr));
    column-gap: 25px;
  }
  .book-img {
    width: 218px;
    height: 316px;
  }
}

@media screen and (min-width: 1440px) {
  .container-books {
    max-width: 1044px;
    /* padding: 40px 24px 72px; */
  }
  .bs-list-item {
    display: contents;
  }
  .book-card {
    width: 180px;
  }
  .book-list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    column-gap: 24px;
  }
  .book-img {
    width: 180px;
    height: 256px;
  }
}

.container-books span {
  color: var(--brand-color);
}

.cat-title {
  color: var(--subtitle-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.book-img {
  border-radius: 8px;
}
.btn-more {
  display: block;
  padding: 14px 28px;
  border-radius: 40px;
  border: 2px solid var(--brand-color);
  background-color: transparent;
  font-family: 'DMSans-Bold';
  font-size: 14px;

  margin-top: 8px;
  margin-left: auto;
}

.category-block {
  margin-top: 40px;
}
.book-title {
  margin-top: 14px;
  font-size: 16px;
  font-family: 'DMSans-Bold';
  line-height: 18px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.book-author {
  margin-top: 4px;
  color: var(--subtitle-color);
  font-size: 12px;
  letter-spacing: -0.48px;
  font-family: 'DMSans-RegularItalic';
}

@media screen and (min-width: 768px) {
  .btn-more {
      margin-top: 20px;
      
    }
}

@media screen and (min-width: 1440px) {
.btn-more {
    margin-top: 32px;
    
  }
}
