.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.container span {
  color: var(--brand-color);
}
h1 {
  margin: 40px 0 40px 0;
}
.cat-title {
  color: var(--subtitle-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.book-card {
  width: 180px;
}
.book-img {
  width: 180px;
  height: 256px;
}
