.modal-shopping-close {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  border: none;
  background-color: transparent;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .modal-shopping-close {
    top: 24px;
    right: 24px;
  }
}

.modal-close-icon {
  width: 24px;
  height: 24px;
  stroke: var(--text-color);

  transition: transform 250ms linear;
}

.modal-img {
  width: 287px;
  height: 408px;

  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .modal-img {
    width: 192px;
    height: 281px;
  }
}

.book-title-in-modal {
  margin-top: 14px;
}

@media screen and (min-width: 768px) {
  .book-title-in-modal {
    font-size: 24px;
    line-height: 28px;
  }
}

.subtitle-book {
  margin-top: 4px;

  font-family: DMSans-RegularItalic;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;

  color: var(--subtitle-color);
}

@media screen and (min-width: 768px) {
  .subtitle-book {
    font-size: 14px;
    line-height: 18px;
  }
}

.text.book {
  margin-top: 18px;
  font-family: DMSans-Regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.56px;
}

@media screen and (min-width: 768px) {
  .text.book {
    margin-top: 20px;
  }
}

@media screen and (max-height: 850px) {
  .text.book {
    margin-top: 8px;
  }
}

.shop-list {
  margin-top: 14px;

  display: flex;
  gap: 20px;
  align-items: center;

  width: 173px;
}

@media screen and (min-width: 768px) {
  .shop-list {
    margin-top: 20px;
  }
}

.add-shoping {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.button.book {
  font-family: DMSans-Bold;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  padding: 14px 23px;

  line-height: 1.28;
  letter-spacing: -0.14px;
}

@media screen and (min-width: 768px) {
  .button.book {
    width: 100%;
    font-size: 18px;
    letter-spacing: -0.18px;
  }
}

@media screen and (max-height: 850px) {
  .button.book {
    margin-top: 10px;
  }
}

.button.book:disabled {
  background-color: var(--subtitle-color);
  color: var(--white-color);
  cursor: not-allowed;
  border: 2px solid var(--yelow-color);
}

.congratulation {
  margin-top: 8px;

  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.04em;

  color: var(--categories-rgba-color);
}

@media screen and (min-width: 768px) {
  .congratulation {
    width: 324px;
    margin-left: auto;
    margin-right: auto;

    font-size: 12px;
    line-height: 14px;
  }
}

.thumb-modal {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .thumb-modal {
    width: 279px;
  }
}

@media screen and (min-width: 768px) {
  .card-modal {
    display: flex;
    gap: 24px;
  }
}