.section-shopping {
  padding-bottom: 40px;
  box-sizing: border-box;
}

.list-books {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 562px;
  overflow: hidden;
}
@media screen and (min-width: 768) {
  .list-books {
    height: 690px;
  }
}

.shopping-list-card {
  position: relative;
  display: flex;
  /* flex-basis: 100%; */
  gap: 14px;

  padding: 14px;

  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: var(--bg-color-header-card);
}

@media screen and (min-width: 768px) {
  .shopping-list-card {
    padding: 24px;
  }
}

.shopping-list-img {
  width: 100px;
  height: 142px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .shopping-list-img {
    width: 116px;
    height: 165px;
  }
}

.shopping-list-description-thumb {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.shopping-title-book {
  width: calc(100% - 36px);
}

.shopping-list-thumb {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;
}

.shopping-list-store {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .shopping-list-store {
    gap: 16px;
  }
}

.shopping-list-btn-del {
  position: absolute;
  background-color: var(--brand-color);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;

  left: 100%;
  transform: translateX(-46px);
}
@media screen and (min-width: 768px) {
.shopping-list-btn-del {
  transform: translateX(-56px);
}}
.trash {
  width: 16px;
  height: 16px;
  fill: var(--white-color);
  stroke: var(--brand-color);
}

.is-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-top: 120px;
}
@media screen and (min-width: 768px) {
  .is-empty {
    margin-top: 140px;
  }
}

.text-empty {
  text-align: center;
  width: 244px;
}
