/* Стили для подложки */

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */
.modal {
  padding: 40px 24px;
  text-align: center;

  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: var(--background-color);
  border: 2px solid #111111;
  border-radius: 18px;

  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 335px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 579px;
    padding: 40px;
  }
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;

  background-color: rgba(17, 17, 17, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  overflow: hidden;
}

.backdrop-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;

  background-color: rgba(79, 46, 232, 1);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-login.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

/* Фільтр для амазон темної теми */

.filter-img {
  filter: brightness(0) invert(1);
}
