<header>
  <div class="header-container container">
    <nav class="main-nav">
      <!-- logo -->
      <a class="logo" href="./index.html">
        <svg class="logo-icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <svg class="logo-icon-text">
          <use href="./images/sprite.svg#icon-Bookshelf"></use>
        </svg>
      </a>

      <!-- site-nav -->
      <ul class="site-nav">
        <li><a class="nav-title home-desc-js" href="./index.html">home</a></li>
        <li>
          <a
            class="shopping-list nav-title visually-hidden shop-list-desc-js"
            href="./shopinglist.html"
            >shopping list
            <svg class="shopping-list-icon">
              <use href="./images/sprite.svg#icon-package"></use></svg
          ></a>
        </li>
      </ul>
    </nav>

    <div class="thomb">
      <!-- dark-theme -->
      <div class="dark-theme theme">
        <label class="switch themetoggle">
          <input
            class="checkbox-theme"
            type="checkbox"
            aria-label="Switch background color"
          />
          <span class="slider"></span>
        </label>
      </div>

      <div>
        <!-- menu-hamburger -->
        <button
          class="hamburger-menu"
          type="button"
          aria-label="Open mobile menu"
        >
          <svg class="hamburger-menu-icon">
            <use href="./images/sprite.svg#icon-burger"></use>
          </svg>
        </button>

        <!-- close -->
        <button class="mobile-close visually-hidden" type="button">
          <svg class="mobile-close-icon">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <!-- sing up -->
        <div class="sing-up">
          <button class="sing-up-btn sing-log" type="button">
            Sing up
            <svg class="sing-up-icon">
              <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
            </svg>
          </button>
        </div>

        <!-- user -->
        <div class="user visually-hidden">
          <button class="user-btn" type="button">
            <img class="user-img" src="./images/user.png" alt="user photo" />

            <span class="user-thomb">
              <span class="name-user">User</span
              ><svg class="arrow-icon">
                <use href="./images/sprite.svg#icon-fi-ss-caret-down"></use>
              </svg>
            </span>
          </button>

          <!-- logout -->
          <div class="log-out-decs visually-hidden">
            <button class="log-out-btn-desc sing-log" type="button">
              Log out
              <svg class="log-out-icon-desc">
                <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- mobile-menu -->
  <div class="mobile-menu container">
    <!-- mobile-nav -->
    <nav class="mobile-nav">
      <ul class="mobile-nav-list">
        <li>
          <a
            class="nav-title visually-hidden home-mob-js"
            href="./index.html"
            >home</a
          >
        </li>
        <li>
          <a
            class="shopping-list nav-title visually-hidden shop-list-mob-js"
            href="./shopinglist.html"
            >shopping list
            <svg class="shopping-list-icon">
              <use href="./images/sprite.svg#icon-package"></use></svg
          ></a>
        </li>
      </ul>
    </nav>

    <!-- user -->
    <div class="user-mob visually-hidden">
      <button class="user-btn-mob" type="button">
        <img class="user-img" src="./images/user.png" alt="user photo" />

        <span class="user-thomb">
          <span class="name-user-mob">User</span>
        </span>
      </button>
    </div>

    <!-- sing up -->
    <div class="sing-up-mob">
      <button class="sing-up-btn-mob sing-log" type="button">
        Sing up
        <svg class="sing-up-icon-mob">
          <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>

    <!-- log out -->
    <div class="log-out-mob visually-hidden">
      <button class="log-out-btn-mob sing-log" type="button">
        Log out
        <svg class="log-out-icon-mob">
          <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="bg-img"></div>
  </div>
</header>
