<header>
  <div class="header-container container">
    <nav class="main-nav">
      <!-- logo -->
      <a class="logo" href="./index.html">
        <svg class="logo-icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <svg class="logo-icon-text">
          <use href="./images/sprite.svg#icon-Bookshelf"></use>
        </svg>
      </a>

      <!-- site-nav -->
      <ul class="site-nav">
        <li><a class="home nav-title" href="./index.html">home</a></li>
        <li>
          <a class="shopping-list nav-title" href="./shopinglist.html"
            >shopping list
            <svg class="shopping-list-icon">
              <use href="./images/sprite.svg#icon-package"></use></svg
          ></a>
        </li>
      </ul>
    </nav>

    <div class="thomb">
      <!-- dark-theme -->
      <div class="dark-theme">
        <label class="switch">
          <input type="checkbox" />
          <span class="slider"></span>
        </label>
      </div>

      <!-- menu-hamburger -->
      <button class="hamburger-menu" type="button">
        <svg class="hamburger-menu-icon">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </button>

      <!-- close -->
      <!-- <button class="mobile-close visually-hidden" type="button">
        <svg class="mobile-close-icon">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button> -->

      <!-- sing up -->
      <div class="sing-up">
        <button class="sing-up-btn sing-log" type="button">
          Sing up
          <svg class="sing-up-icon">
            <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>

<!-- mobile-menu -->
<div class="mobile-menu">
  <!-- mobile-nav -->
  <nav class="mobile-nav">
    <ul class="mobile-nav-list">
      <li><a class="home nav-title" href="./index.html">home</a></li>
      <li>
        <a class="shopping-list nav-title" href="./shopinglist.html"
          >shopping list
          <svg class="shopping-list-icon">
            <use href="./images/sprite.svg#icon-package"></use></svg
        ></a>
      </li>
    </ul>
  </nav>

  <div class="bg-img"></div>
</div>
