<header>
  <div class="header-container container">
    <nav class="main-nav">
      <!-- logo -->
      <a class="logo" href="./index.html">
        <svg class="logo-icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <svg class="logo-icon-text">
          <use href="./images/sprite.svg#icon-Bookshelf"></use>
        </svg>
      </a>

      <!-- menu-hamburger -->
      <button class="hamburger-menu" type="button">
        <svg class="hamburger-menu-icon">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </button>

      <!-- site-nav -->
      <ul class="site-nav">
        <li><a class="home" href="./index.html">home</a></li>
        <li>
          <a href="./shopinglist.html"
            >shopping list
            <svg class="shopping-list-icon">
              <use href="./images/sprite.svg#icon-package"></use></svg
          ></a>
        </li>
      </ul>
    </nav>

    <!-- mobile-menu -->
    <div class="mobile-menu">
      <!-- close -->
      <button class="mobile-close" type="button">
        <svg class="mobile-close-icon">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <!-- mobile-nav -->
      <nav class="mobile-nav">
        <ul>
          <li><a href="./index.html">home</a></li>
          <li>
            <a href="./shopinglist.html"
              >shopping list
              <svg class="shopping-list-icon">
                <use href="./images/sprite.svg#icon-package"></use></svg
            ></a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- dark-theme -->
    <div class="dark-theme">
      <label><input type="checkbox" name="switcher" /></label>
    </div>

    <!-- sing up -->
    <div class="sing-up">
      <button class="sing-up-btn" type="button">
        Sing up
        <svg class="sing-up-icon">
          <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
