<section class="hero">
  <div class="container">
    <ul>
      <li class="card-modal" data-modal-id="643282b1e85766588626a0dc">
        <img
          class="modal-img"
          alt="Book-img"
          src="./images/modal-book-img-example.jpg"
        />

        <div class="thumb-modal">
          <h2 class="title book">Hello beautiful</h2>
          <p class="subtitle book">Ann Napolitano</p>
        </div>
      </li>

      <li class="card-modal" data-modal-id="643282b1e85766588626a080">
        <img
          class="modal-img"
          alt="SWEET ENOUGH"
          src="https://storage.googleapis.com/du-prd/books/images/9781984826398.jpg"
        />

        <div class="thumb-modal">
          <h2 class="title book">SWEET ENOUGH</h2>
          <p class="subtitle book">Alison Roman</p>
        </div>
      </li>
    </ul>
  </div>
</section>
