<div class="container-books">
  <h1>Best Sellers <span>Books</span></h1>
  <!-- <div class="category-block">
    <h2 class="cat-title">Advice How-To and Miscellaneous</h2>
    <ul class="book-list">
      <li>
        <a href="#">
          <img
            class="book-img"
            src="https://storage.googleapis.com/du-prd/books/images/9781984826398.jpg"
            alt="SWEET ENOUGH"
          />
          <h3>SWEET ENOUGH</h3>
          <h4>Alison Roman</h4>
        </a>
      </li>
      <li>
        <a href="#">
          <img
            class="book-img"
            src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
            alt="ATOMIC HABITS"
          />
          <h3>ATOMIC HABITS</h3>
          <h4>James Clear</h4>
        </a>
      </li>
      <li>
        <a href="#">
          <img
            class="book-img"
            src="https://storage.googleapis.com/du-prd/books/images/9780063226050.jpg"
            alt="THE LOVE STORIES OF THE BIBLE SPEAK"
          />
          <h3>THE LOVE STORIES OF THE BIBLE SPEAK</h3>
          <h4>Shannon Bream</h4>
        </a>
      </li>
      <li>
        <a class="book-card" href="#">
          <img
            class="book-img"
            src="https://storage.googleapis.com/du-prd/books/images/9780593652886.jpg"
            alt="THE CREATIVE ACT"
          />
          <h3>THE CREATIVE ACT</h3>
          <h4>Rick Rubin with Neil Strauss</h4>
        </a>
      </li>
      <li>
        <a href="#">
          <img
            class="book-img"
            src="https://storage.googleapis.com/du-prd/books/images/9780593489307.jpg"
            alt="LIFE WORTH LIVING"
          />
          <h3>LIFE WORTH LIVING</h3>
          <h4>Miroslav Volf, Matthew Croasmun and Ryan McAnnally-Linz</h4>
        </a>
      </li>
    </ul>
    <button type="button">SEE MORE</button>
  </div> -->
</div>
