<section class="hero">
  <div class="container">
    <ul class="hero-ul">
      <li class="card-modal" data-modal-id="643282b1e85766588626a080">
        <img
          class="modal-img"
          alt="Sweet enough"
          src="https://storage.googleapis.com/du-prd/books/images/9781984826398.jpg"
        />

        <div class="thumb-modal">
          <h2 class="title book">Sweet enough</h2>
          <p class="subtitle book">Alison Roman</p>
        </div>
      </li>
    </ul>
  </div>
</section>
