<!-- <div class="mask">
  <div class="loader"></div>
</div> -->
<div class="mask" id="preloader">
  <div class="cssload-wrap">
    <div class="translate">
      <div class="scale"></div>
    </div>
  </div>
  <div class="cssload-wrap">
    <div class="translate">
      <div class="scale"></div>
    </div>
  </div>
  <div class="cssload-wrap">
    <div class="translate">
      <div class="scale"></div>
    </div>
  </div>
  <div class="cssload-wrap">
    <div class="translate">
      <div class="scale"></div>
    </div>
  </div>
  <div class="cssload-wrap">
    <div class="translate">
      <div class="scale"></div>
    </div>
  </div>
  <div class="cssload-wrap">
    <div class="translate">
      <div class="scale"></div>
    </div>
  </div>
  <div class="cssload-wrap">
    <div class="translate">
      <div class="scale"></div>
    </div>
  </div>
  <div class="cssload-wrap">
    <div class="translate">
      <div class="scale"></div>
    </div>
  </div>
  <div class="cssload-wrap">
    <div class="translate">
      <div class="scale"></div>
    </div>
  </div>
</div>
