<div class="backdrop">
  <!-- Modal shopping -->
  <div class="modal active">
    <button type="button" class="modal-shopping-close">
      <svg class="modal-close-icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="card-modal">
      <img
        class="modal-img"
        alt="Book-img"
        src="./images/modal-book-img-example.jpg"
      />

      <div class="thumb-modal">
        <h2 class="title book">Hello beautiful</h2>
        <p class="subtitle book">Ann Napolitano</p>
        <p class="text book">
          In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
          past resurfaces as he gets to the know the family of his college
          sweetheart.
        </p>
        <ul class="shop-list">
          <li>
            <a href="https://www.amazon.com/">
              <img src="./images/amazon.png" alt="Amazon" />
            </a>
          </li>
          <li>
            <a href="https://www.amazon.com/">
              <img src="./images/book.png" alt="Book" />
            </a>
          </li>
          <li>
            <a href="https://www.amazon.com/">
              <img src="./images/book-block.png" alt="Book-block" />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <button type="submit" class="button book">
      remove from the shopping list
    </button>
    <p class="congratulation">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
