<div class="backdrop">
  <!-- Modal shopping -->
  <div class="modal active">
    <button type="button" class="modal-shopping-close">
      <svg class="modal-close-icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="render-modal"></div>
    
    <button type="submit" class="button book">
      remove from the shopping list
    </button>

    <p class="congratulation">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
