<div class="support">
    <h2 class="support-header" aria-label="Support Ukraine">
        Support Ukraine
        <svg class="ukraine-emblem" width="20px" height="32px">
            <use href="./images/sprite.svg#ukraine-emblem"></use>
        </svg>
    </h2>
    
    <div class="support-container">
        <ol class="support-list" aria-label="Support Ukraine list"></ol>
    </div>
    
    <div class="see-more-container">
        <button type="button" class="see-more-funds" aria-label="See more funds">
            <svg class="icon-arrow" width="22px" height="22px">
                <use href="./images/sprite.svg#button-expand-vector"></use>
            </svg>
        </button>
    </div>
                    
</div>


