<div class="support">

    <div class="support-emblem">
        <h2 class="support-heaher">Support Ukraine </h2>
        <img src="/src/images/support/ukraine.png" alt="Emblem of Ukraine" width="20px" height="32px">
    </div>

    <ol class="support-list"></ol>

    <div class="see-more-container"> <button type="button" class="see-more"> 
        <svg class="icon-arrow"  width="22px" height="22px">
        <use href="./images/sprite.svg#button-expand-vector"></use> </svg>
        </button></div>
  
</div> 


