<div class="support">
    <ol class="support-list">
        <li class="support-item"><a href="" class="support link"><img src="" alt="" class="support-logo"></a></li>
        <li class="support-item"><a href="" class="support link"><img src="" alt="" class="support-logo"></a></li>
        <li class="support-item"><a href="" class="support link"><img src="" alt="" class="support-logo"></a></li>
        <li class="support-item"><a href="" class="support link"><img src="" alt="" class="support-logo"></a></li>
        <li class="support-item"><a href="" class="support link"><img src="" alt="" class="support-logo"></a></li>
        <li class="support-item"><a href="" class="support link"><img src="" alt="" class="support-logo"></a></li>
        <li class="support-item"><a href="" class="support link"><img src="" alt="" class="support-logo"></a></li>
        <li class="support-item"><a href="" class="support link"><img src="" alt="" class="support-logo"></a></li>
        <li class="support-item"><a href="" class="support link"><img src="" alt="" class="support-logo"></a></li>
    </ol>
</div>